h1 {
    font-family: "San Francisco";
    font-weight: 500;
}

h2 {
    font-family: "San Francisco";
    font-weight: 400;
}

h3 {
    font-family: "San Francisco";
    font-weight: 300;
}

p {
    font-family: "San Francisco";
    font-weight: 400;
}


* {
    font-family: "San Francisco";
    font-weight: 400;
}
