/* h1 {
    font-family: "San Francisco";
    font-weight: 400;
}

h2 {
    font-family: "San Francisco";
    font-weight: 500;
}

h3 {
    font-family: "San Francisco";
    font-weight: 600;
}

p {
    font-family: "San Francisco";
    font-weight: 400;
}
*/

* {
    /* font-family: "San Francisco";
    font-weight: 400;
     */
    font-family: 'SF UI Display', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text);  /* bright text */
}

p, li, span {
  color: var(--text-muted); /* muted text for readability */
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.25s ease;
}

a:hover {
  color: var(--secondary);
}
